# Exploratory Data Analysis (EDA)

EDA is an approach to analyze and understand data prior to fitting a machine learning model. 
It includes: 

1. Identifying data types, data discrepencies, missing values, and invalid enteries. 
2. Conducting escriptive analysis by vreating graphs, plots and summary tables.
3. Identifying patterns and relationships between variables, and formulating hypotheses.

This exercise is a gentle start into performing EDA on a dataset.

## Imports

In [8]:
#pip install seaborn

In [ ]:
#pip install xlrd

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

## Data

Load Car Details.csv and preview the data.

In [5]:
cars = pd.read_csv('Car Details.csv')
cars.head()

     fuel seller_type transmission         owner
0  Petrol  Individual       Manual   First Owner
1  Petrol  Individual       Manual   First Owner
2  Diesel  Individual       Manual   First Owner
3  Petrol  Individual       Manual   First Owner
4  Diesel  Individual       Manual  Second Owner

Load ceosal1.xls and preview the data.

In [3]:
ceosal = pd.read_excel('ceosal1.xls')
ceosal.head()

,salary,pcsalary,sales,roe,pcroe,ros,indus,finance,consprod,utility,lsalary,lsales
0,1095,20,27595.0,14.1,106.4,191,1,0,0,0,6.998509,10.225390
1,1001,32,9958.0,10.9,-30.6,13,1,0,0,0,6.908755,9.206132
2,1122,9,6125.9,23.5,-16.3,14,1,0,0,0,7.022868,8.720281
3,578,-9,16246.0,5.9,-25.7,-21,1,0,0,0,6.359574,9.695602
4,1368,7,21783.2,13.8,-3.0,56,1,0,0,0,7.221105,9.988894

**The purpose of this exercise is to analyze different kinds of graphs and plots.
For each exercise, create relevant graphs and answer the questions.**


### Explore Car Details.csv and answer following questions: 

a. What percentage of cars run on petrol with automatic transmission? (*Hint: Use pie chart*)

b. How many cars are manual and firsthand?

c. What percentage of secondhand cars are sold through a dealer?

d. How many cars that run on petrol, with a manual transmission, are sold by individuals?

### Use ceosal1.xls dataset for this exercise

a. Try out different correlation methods on ceosal1.xls data to observe the impact and interaction of variables on the CEOâ€™s salary.

b. Create a heatmap on the correlation matrix.

c. Which variable has the highest correlation with CEO's salary?

d. Which variable has the lowest correlation with CEO's salary?

e. Which variables are irrelavant to this study?