#PYTHON LISTS

**SIMPLE PYTHON LIST**

Task# 1

a. Create a variable pi_string with “3.1415926” value. print the type of
pi_string.

b. Convert the variable pi_string to a float and store this float as a new
variable, pi_float. print the type of pi_float.

In [ ]:
pi_string = '3.1415926'
type(pi_string)

str

In [ ]:
pi_float = float(pi_string)
type(pi_float)

float

Task# 2

a. Create variables for areas of different parts of your house and assign random values to it (e.g. hall, kitchen, living room, bedroom, bathroom).

In [ ]:
hall = 12.8
kit = 10.0
liv = 20.0
bath = 9.61
bedr = 10.2

Task# 3

a. Create a list containing areas of different parts of a house. Use the predefined variables.
Print areas with the print() function.

In [ ]:
area = [hall, kit, liv, bath, bedr]
area

[12.8, 10.0, 20.0, 9.61, 10.2]

Task# 4

a. Finish the line of code that creates the areas list. Build the list so that the
list first contains the name of each room as a string and then its area. In
other words, add the strings "hallway", "kitchen" and "bedroom" at
the appropriate locations. Print areas again.

In [ ]:
area = ["hallway",hall, 'kitchen',kit, 'bedroom',bedr]
area

['hallway', 12.8, 'kitchen', 10.0, 'bedroom', 10.2]

In [ ]:
areas=["hallway",hall,"kitchen",kit,"living room",liv,"bedroom",bedr,"bathroom",bath]

In [ ]:
print("hallway: " + str(hall))

hallway: 12.8

**NESTED LISTS (LIST OF LISTS)**

In [ ]:
students = ['sarah', 'afnan', 'abdullah']
heights = [1.6, 1.78, 1.8]

In [ ]:
nested_list = [students, heights]
nested_list

[['sarah', 'afnan', 'abdullah'], [1.6, 1.78, 1.8]]

Task# 5

Can you structure the house data as a list of list. Create a List Called house and also print the type of the list.
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50

Your Output Should Look Like This:

 [['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

TASK# 6

areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

a. Print out the second element from the areas list:

b. Print out the last element of areas.

In [ ]:
areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

In [ ]:
areas[1]

11.25

TASK# 7

areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

a. Use slicing to create a list, downstairs, that contains the first 6 elements of areas.
Print downstairs using print().


b. Do a similar thing to create a new variable, upstairs, that contains the last 4
elements of areas.
Print upstairs using print().

In [ ]:
areas[-4:]

['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
areas[0:6]

['hallway', 11.25, 'kitchen', 18.0, 'living Room', 20.0]

In [ ]:
areas[:6]

['hallway', 12.8, 'kitchen', 10.0, 'bedroom', 10.2]

In [ ]:
upstairs = areas[6:]
upstairs

['bedroom', 10.75, 'bathroom', 9.5]

TASK# 8

areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

a. Update the area of the bathroom area to be 10.50 square meters instead
of 9.50. Print out areas list using print().

b. Change "living room" to "chill zone". Print
out areas list using print().

In [ ]:
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living Room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
areas[-1] = 10.50
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living Room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

TASK# 9

areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

a. You decide to build a garage [15.45]. Can you add the information to the areas
list?
print areas list using print().

b. Delete garage and its value form areas list.

In [ ]:
areas=["hallway",11.25,"kitchen",18.0,"living Room",20.0,"bedroom",10.75,"bathroom",9.50]

In [ ]:
areas = areas + ['garage', 15.45]
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living Room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5,
 'garage',
 15.45]

In [ ]:
del(areas[11])
del(areas[10])
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living Room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

TASK# 10

var1 =[1,2,3,4]
var2=True

To complete
this task use the code above.

a. Use print() in combination with type() to print out the type of var1and var2.

b. Use print() in combination with len() to print out the length of the list var1.

#Built-in Functions

Task# 11

a. Let’s find the position of “cherry” in the Fruit List [‘apple’, ‘banana’, ‘cherry’]?

b. Let’s find the number of times “cherry” occurs in the Fruit List ['cherry', ‘banana’, ‘cherry’, 'apple']?

In [ ]:
fruits = ['apple', 'banana', 'cherry']

In [ ]:
fruits.index('cherry')

2

In [ ]:
fruits = ['cherry', 'apple', 'banana', 'cherry']
fruits.count('apple')

1

Task# 12

areas=[11.25,18.0,20.0,10.75,9.50]

a. Use the index() method to get the index of the element in areas list that is equal to 20.0 and print
out this index.

b. Use count() on the areas list to find out how many times 9.50 appears and print out this
number.

Task# 13

a. Let’s add “orange” in the Fruit List [‘apple’, ‘banana’, ‘cherry’]?

b. Let’s now remove “banana” in the Fruit List [‘apple’, ‘banana’, ‘cherry’,’orange’]?

c. Reverse the order of the Fruit List.